<h4>Application</h4>
<form action="/job/{{job['id']}}/apply" method='POST'>
  <div class="mb-2">
    <label>Full Name</label><br>
    <input type="text" name="Full Name" placeholder="Enter your name" />
  </div>
  <div class="mb-2">
    <label>Email</label><br>
    <input type="text" name="Email" placeholder="mail##@**.com" />
  </div>
  <div class="mb-2">
    <label>LinkedIn URL</label><br>
    <input type="text" name="LinkedIn URL" placeholder="linkedin.com**" />
  </div>
  <div class="mb-2">
    <label>Education</label><br>
    <textarea type="text" name="Education"/></textarea>
  </div>
  <div class="mb-2">
    <label>Work Experience</label><br>
    <textarea type="text" name="Work Experience" /></textarea>
  </div>
  <div class="mb-2">
    <label>Resume URL</label><br>
    <input type="text" name="Resume URL"/>
  </div>
  <input type="submit">
</form>
